	<div class="jumbotron" style="padding: 1px 5px 5px 5px;">
	<center><h3 class="rade">Search for Posts</h3></center>
<div class="list-group">
<%= form_tag root_path, :multipart => true, method: :post, :html => { :class => 'form-horizontal' } do %>
  <fieldset>

  <a class="list-group-item active formma">
    Type of post
  </a>
  <a class="list-group-item">

		<div class="row">
		<div class="col-lg-10">
    	<label class="rade">Video Posts</label>
    	</div>		
		<div class="col-lg-2">
    	<label align ="right"><%= check_box_tag :type_ids, 1, false, :name => 'posts[type_ids][]'%></label>	
		</div>
		</div>
		
		<div class="row">
		<div class="col-lg-10">
    	<label class="rade">Photo Posts</label>
    	</div>		
		<div class="col-lg-2">
    	<label align ="right"><%= check_box_tag :type_ids, 2, false, :name => 'posts[type_ids][]'%></label>	
		</div>
		</div>
  </a>
  
  <a class="list-group-item active formma" id="show_hide">
  <span class="badge" id="bedz">&#x25BC;</span>
     Category
  </a>    
  
  <a class="list-group-item" id="show_content">

		<% Category.all.each_with_index do |cate| %>
		<div class="row">
		<div class="col-lg-10">
    	<label class="rade"><%= cate.name %></label>
    	</div>		
		<div class="col-lg-2">
    	<label align ="right"><%= check_box_tag :cate_ids, cate.id, false, :name => 'posts[cate_ids][]'%></label>	
		</div>
		</div>
		<% end %>
  </a>

  <a class="list-group-item active formma" id="show_hide2">
  <span class="badge" id="bedz2">&#x25BC;</span>	
     Subategory
  </a>  

  <a class="list-group-item" id="show_content2">

		<% Subcategory.all.each_with_index do |subcate| %>
		<div class="row">
		<div class="col-lg-10">
    	<label class="rade"><%= subcate.name %></label>
    	</div>		
		<div class="col-lg-2">
    	<label align ="right"><%= check_box_tag :subcate_ids, subcate.id, false, :name => 'posts[subcate_ids][]'%></label>	
		</div>
		</div>
		<% end %>
  </a>  
<a class="list-group-item">
    <%= submit_tag "Search Posts", :class => 'btn btn-primary' %>
</a>
   <fieldset>
<% end %>
</div>
</div>
<script>
$( "#show_content" ).hide();
$( "#show_content2" ).hide();
$(document).ready(function(){
  $("#show_hide").click(function(){
    $("#show_content").toggle(250);
	$( "#show_hide2" ).toggle(250);    
    var rade = $("#bedz").html();
    if(rade == "▼"){
    	var status="&#x25B2;"
    }
    else {
    	var status="&#x25BC;"
    }	 
    $("#bedz").empty();
    $("#bedz").append(status); 
  });
});
$(document).ready(function(){
  $("#show_hide2").click(function(){
    $("#show_content2").toggle(250);
	$( "#show_hide" ).toggle(250);     
    var rade = $("#bedz2").html();
    if(rade == "▼"){
    	var status="&#x25B2;"
    }
    else {
    	var status="&#x25BC;"
    }	 
    $("#bedz2").empty();
    $("#bedz2").append(status);   
  });
});
</script>