<!DOCTYPE html>
<%= favicon_link_tag("favicon.png")%>
<html>
<head>
  <title>Mytop10</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <%= stylesheet_link_tag    'amelia', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>
  <%= javascript_include_tag 'amelia', 'data-turbolinks-track' => true %>
  <%= yield(:page_javascript) if content_for?(:page_javascript) %>  
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<div class="container theme-showcase">
<%= render 'layouts/alertnotice' %>

<%= yield %>
<%= render 'layouts/footer' %>  
</div>
</body>
</html>
